modules/extension/app-schema/app-schema/src/test/resources/test-data/commonSchemas_new/mineralOccurrence/minocc.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns:mo="urn:cgi:xmlns:GGIC:MineralOccurrence:1.0" targetNamespace="urn:cgi:xmlns:GGIC:MineralOccurrence:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/primitiveTypes.xsd"/>
    <import namespace="http://www.cgi-iugs.org/xml/GeoSciML/2" schemaLocation="http://schemas.opengis.net/GeoSciML/geosciml.xsd"/>
    <element name="MiningActivity" substitutionGroup="mo:MiningFeature" type="mo:MiningActivityType">
        <annotation>
            <documentation>The process of extracting metallic or non-metallic mineral deposits from the Earth. The term may also include preliminary treatment eg. cleaning or sizing.</documentation>
        </annotation>
    </element>
    <complexType name="MiningActivityType">
        <complexContent>
            <extension base="mo:MiningFeatureType">
                <sequence>
                    <element name="activityDuration" type="gml:TimePeriodPropertyType">
                        <annotation>
                            <documentation>Period, or extent in time, of  the mining activity. The beginning of the activity links the TM_Period to the TM_Instant at which it starts.  The ending links the TM_Period to the TM_Instant at which it ends.  For a variety of reasons, the position of the TM_Instant designated by 'begin' or 'end' may be inderterminate.</documentation>
                        </annotation>
                    </element>
                    <element name="activityType" type="mo:MiningActivityTypeCodeType">
                        <annotation>
                            <documentation>The type of mining activity (eg Open Cut, Underground Mine, multiple, unspecified) or processing activity (eg Ore Processing) or production.  Using activity to distinguish between the extraction, processing and production activities allows distinguishing between ore mined/grade/recovery, ore treated/grade/recovery and produced payable/plant recovery.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="oreProcessed" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>The amount of ore processed by the activity</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="associatedMine" type="mo:MinePropertyType">
                        <annotation>
                            <documentation>The mine that the MiningActivity occurred in</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="rawMaterial" type="mo:MinedMaterialPropertyType"/>
                    <element name="deposit" type="mo:EarthResourcePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="producedMaterial" type="mo:ProductPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiningActivityPropertyType">
        <sequence minOccurs="0">
            <element ref="mo:MiningActivity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="EarthResource" substitutionGroup="gsml:GeologicFeature" type="mo:EarthResourceType">
        <annotation>
            <documentation>Identifes the kinds of observable or inferred phenomena required to classify economic and sub-economic earth resources</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="EarthResourceType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceReference" type="gml:ReferenceType">
                        <annotation>
                            <documentation>The source or reference for the Earth Resource. CI_Citation can not be serialised in-line for GML3.1 but as an xlink reference.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="dimension" type="mo:EarthResourceDimensionPropertyType">
                        <annotation>
                            <documentation>Describes the size/volume of the earth resource</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="expression" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Whether an EarthResource has a surface expression or has been detected under cover rocks. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="form" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The orebodies typical physical and structural relationship to wallrocks and associated rocks (e.g. strataform, stratabound, cross-cutting, vein, intrusive contact etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="linearOrientation" type="gsml:CGI_LinearOrientationPropertyType">
                        <annotation>
                            <documentation>Captures linear orientation of the Earth Resource (Plunge etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="planarOrientation" type="gsml:CGI_PlanarOrientationPropertyType">
                        <annotation>
                            <documentation>Captures planar orientation of the Earth Resource (Dip/Dip Direction etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="shape" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The typical geometrical shape of the Earth Resource (e.g. lenticular, pipelike, irregular etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="classification" type="mo:MineralDepositModelPropertyType">
                        <annotation>
                            <documentation>Classifies the EarthResource
Systematically arranged information describing the essential attributes of a class of mineral deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="commodityDescription" type="mo:CommodityPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="composition" type="mo:EarthResourceMaterialPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="geneticDescription" type="mo:MineralSystemPropertyType">
                        <annotation>
                            <documentation>Provides a description for how the EarthResource formed</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="resourceExtraction" type="mo:MiningActivityPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="supergeneModification" type="mo:SupergeneProcessesPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="child" type="mo:EarthResourcePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="oreAmount" type="mo:OreMeasurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EarthResourcePropertyType">
        <sequence minOccurs="0">
            <element ref="mo:EarthResource"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="MiningFeature" substitutionGroup="gml:_Feature" type="mo:MiningFeatureType">
        <annotation>
            <documentation>The abstract MiningFeature class represents a conceptual feature that exists coherently in the world.
   * this corresponds with a "Mine" or a "MiningActivity",  locatable and identifiable features in time and/or space
   </documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="MiningFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="occurrence" type="mo:MiningFeatureOccurrencePropertyType">
                        <annotation>
                            <documentation>Point to the single MiningFeature which describes the Mining feature Occurrence</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiningFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="mo:MiningFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Commodity" substitutionGroup="gml:_Feature" type="mo:CommodityType">
        <annotation>
            <documentation>The material of economic interest in the EarthResource</documentation>
        </annotation>
    </element>
    <complexType name="CommodityType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="commodityGroup" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>The group the commodity belongs to (eg base metal, precious metal, industrial mineral, energy). </documentation>
                        </annotation>
                    </element>
                    <element name="commodityName" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>The earth resource commodity (eg Cu, Au, Dimension Stone)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="commodityImportance" type="mo:ImportanceCodeType">
                        <annotation>
                            <documentation>The importance of the commodity to the earth resource. A subjective classification (eg minor, major)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="commodityRank" type="integer">
                        <annotation>
                            <documentation>The rank the commodity has in the order of commodities that are part of the earth reource (eg 1, 2, 3)</documentation>
                        </annotation>
                    </element>
                    <element name="source" type="mo:EarthResourcePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CommodityPropertyType">
        <sequence minOccurs="0">
            <element ref="mo:Commodity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Mine" substitutionGroup="mo:MiningFeature" type="mo:MineType">
        <annotation>
            <documentation>(A) An underground excavation for the extraction of mineral deposits, in contrast to surficial excavations such as quarries. The term is also applied to various types of open-pit workings. (B) The area or property of a mineral deposit that is being excavated; a mining claim.</documentation>
        </annotation>
    </element>
    <complexType name="MineType">
        <complexContent>
            <extension base="mo:MiningFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="startDate" type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>Date the mine commenced.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="endDate" type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>Date the mine ceased.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="mineName" type="mo:MineNamePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceReference" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Allows citing mine plans etc</documentation>
                        </annotation>
                    </element>
                    <element name="status" type="mo:MineStatusCodeType">
                        <annotation>
                            <documentation>Operational status (eg Care &amp; Maintenance, Pending Approval, operating continually)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="relatedActivity" type="mo:MiningActivityPropertyType">
                        <annotation>
                            <documentation>The MiningActivity associated with the Mine</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedMine" type="mo:MinePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MinePropertyType">
        <sequence minOccurs="0">
            <element ref="mo:Mine"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MineralOccurrence" substitutionGroup="mo:EarthResource" type="mo:MineralOccurrenceType"/>
    <complexType name="MineralOccurrenceType">
        <complexContent>
            <extension base="mo:EarthResourceType">
                <sequence>
                    <element name="type" type="mo:MineralOccurrenceTypeCodeType">
                        <annotation>
                            <documentation>Captures the type of mineral occurrence. Examples are prospect, occurrence, mineral deposit, ore deposit, field, district, lode, mineralized zone(?).</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MineralOccurrencePropertyType">
        <sequence minOccurs="0">
            <element ref="mo:MineralOccurrence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MiningFeatureOccurrence" substitutionGroup="gml:_Feature" type="mo:MiningFeatureOccurrenceType"/>
    <complexType name="MiningFeatureOccurrenceType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="observationMethod" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Specifies the method that was used to identify the MiningFeatureOccurrence. Examples: digitised,  Global Positioning System, published map, fieldObservation, downhole survey, aerial photography, field survey. This corresponds (loosely) to ISO19115 Lineage.Statement</documentation>
                        </annotation>
                    </element>
                    <element name="positionalAccuracy" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Examples: accurate, approximate, diagramatic, indefinite, unknown, 5 m. Corresponds to ISO19115 DQ_ThematicAccuracy (either quantitative or non quantitative).result.value</documentation>
                        </annotation>
                    </element>
                    <element name="specification" type="mo:MiningFeaturePropertyType">
                        <annotation>
                            <documentation>Indicates the MiningFeature that the occurrence specifies
Points to any number of MiningFeatureOccurrences which are occurrences of the Miningfeature.  MiningFeatureOccurrences may all be from a single map or from several maps, or reflect different levels of detail, eg point, area, 3D volume.</documentation>
                        </annotation>
                    </element>
                    <element name="location" type="gml:GeometryPropertyType">
                        <annotation>
                            <documentation>Points to the GML shape object that describes the geometry of the MiningFeatureOccurrence.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiningFeatureOccurrencePropertyType">
        <sequence minOccurs="0">
            <element ref="mo:MiningFeatureOccurrence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="NonMetallicOccurrence" substitutionGroup="mo:EarthResource" type="mo:NonMetallicOccurrenceType"/>
    <complexType name="NonMetallicOccurrenceType">
        <complexContent>
            <extension base="mo:EarthResourceType"/>
        </complexContent>
    </complexType>
    <complexType name="NonMetallicOccurrencePropertyType">
        <sequence minOccurs="0">
            <element ref="mo:NonMetallicOccurrence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MineralDepositModel" type="mo:MineralDepositModelType">
        <annotation>
            <documentation>Systematically arranged information describing the essential attributes of a class of mineral deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
        </annotation>
    </element>
    <complexType name="MineralDepositModelType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="1" name="mineralDepositGroup" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>A grouping of mineral deposits defined by generic characteristics e.g. host rock, host structure, commodity, association with similar mineral processes e.g. porphyry. Regional, national and more universal lists e.g. Cox and Singer 1986 (modified by GA)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="mineralDepositType" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>Style of mineral occurrence or deposit. Generally a local or regional term. Should be referenced for definitions and descriptions. Single deposit terms may form member of a Mineral Deposit Group in local and regional schemas.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="MineralDepositModelPropertyType">
        <sequence>
            <element ref="mo:MineralDepositModel"/>
        </sequence>
    </complexType>
    <element name="CommodityMeasure" type="mo:CommodityMeasureType">
        <annotation>
            <documentation>A measure of the amount of the commodity based on a Reserve, Resource or Endowment calculation.</documentation>
        </annotation>
    </element>
    <complexType name="CommodityMeasureType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="commodityAmount" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Amount of commodity</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="cutOffGrade" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Cut off grade used for calculation</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="grade" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>grade of commodity
Where OreMeasure is Resource or Reserve CommodityMeasure::grade is mandatory</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="commodityOfInterest" type="mo:CommodityPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="CommodityMeasurePropertyType">
        <sequence>
            <element ref="mo:CommodityMeasure"/>
        </sequence>
    </complexType>
    <element name="Endowment" substitutionGroup="mo:OreMeasure" type="mo:EndowmentType">
        <annotation>
            <documentation>Endowment refers to that quantity of a mineral in accumulations (deposits) meeting specified physical characteristics such as quality, size and depth.
Usually includes Resources, as unlike the latter, it does not have to have prospects for "eventual economic extraction". It often includes the total amount of a commodity originally introduced to a particular location during the deposit forming processes - and thus can include resources, reserves, past production and mining and metallurgical losses.</documentation>
        </annotation>
    </element>
    <complexType name="EndowmentType">
        <complexContent>
            <extension base="mo:OreMeasureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="includesReserves" type="boolean">
                        <annotation>
                            <documentation>Does the estimate include the reserves value (Y/N)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="includesResources" type="boolean">
                        <annotation>
                            <documentation>Does the estimate include the resources value (Y/N)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EndowmentPropertyType">
        <sequence>
            <element ref="mo:Endowment"/>
        </sequence>
    </complexType>
    <element name="SupergeneProcesses" type="mo:SupergeneProcessesType">
        <annotation>
            <documentation>Metal enrichment produced by the chemical remobilisation of metals in an oxidised or transitional environment. Does a supergene process exist (Y/N)</documentation>
        </annotation>
    </element>
    <complexType name="SupergeneProcessesType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="depth" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="material" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>The description of the material (rock, soil) that constitutes the supergene process</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="type" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>Type of supergene process. Examples are oxidation, leaching, enrichment etc</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SupergeneProcessesPropertyType">
        <sequence>
            <element ref="mo:SupergeneProcesses"/>
        </sequence>
    </complexType>
    <element name="Reserve" substitutionGroup="mo:OreMeasure" type="mo:ReserveType">
        <annotation>
            <documentation>The economically mineable part of a Measured and/or Indicated Mineral Resource. It includes diluting materials and allowances for losses, which may occur when the material is mined. ?Marketable Coal Reserves? maybe reported in conjunction with, but not instead of, reports of Ore (Coal) Reserves. ?Saleable product? (e.g. for industrial minerals) can be reported in conjunction with ore reserve.
Synonyms: Ore Reserve; Coal Reserve (s); Diamond (or gemstone) Ore Reserve; Mineral Reserves (not preferred, should be stated that used to mean the same as JORC?s Ore Reserve); Mineable production estimates</documentation>
        </annotation>
    </element>
    <complexType name="ReserveType">
        <complexContent>
            <extension base="mo:OreMeasureType">
                <sequence>
                    <element name="category" type="mo:ReserveCategoryCodeType">
                        <annotation>
                            <documentation>Defines the level of confidence of the estimate</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ReservePropertyType">
        <sequence>
            <element ref="mo:Reserve"/>
        </sequence>
    </complexType>
    <element name="Resource" substitutionGroup="mo:OreMeasure" type="mo:ResourceType">
        <annotation>
            <documentation>A concentration or occurrence of material of intrinsic economic interest in or on the Earth?s crust in such form, quality and quantity that there are reasonable prospects for eventual economic extraction.
Synonyms: Mineral Resource; Coal Resource (s); Diamond (Gemstone) Resource; Potentially Mineable Mineralisation</documentation>
        </annotation>
    </element>
    <complexType name="ResourceType">
        <complexContent>
            <extension base="mo:OreMeasureType">
                <sequence>
                    <element name="category" type="mo:ResourceCategoryCodeType">
                        <annotation>
                            <documentation>Measured, indicated, proved, probable, inferred.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="includesReserves" type="boolean">
                        <annotation>
                            <documentation>Whether estimate of resources uses reserve values (Y/N)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ResourcePropertyType">
        <sequence>
            <element ref="mo:Resource"/>
        </sequence>
    </complexType>
    <element name="MinedMaterial" type="mo:MinedMaterialType"/>
    <complexType name="MinedMaterialType">
        <sequence>
            <element name="material" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>Uses EarthMaterial to describe the RawMaterial material</documentation>
                </annotation>
            </element>
            <element name="rawMaterialRole" type="mo:RawMaterialRoleCodeType">
                <annotation>
                    <documentation>Role the EarthMaterial plays in the MiningActivity (eg gangue, ore)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Proportion of the RawMaterial playing the rawMaterialRole in the MiningActivity</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="MinedMaterialPropertyType">
        <sequence>
            <element ref="mo:MinedMaterial"/>
        </sequence>
    </complexType>
    <element name="MineName" type="mo:MineNameType">
        <annotation>
            <documentation>Data type to indicate whether the Mine Name is the preferred name</documentation>
        </annotation>
    </element>
    <complexType name="MineNameType">
        <sequence>
            <element name="isPreferred" type="boolean"/>
            <element name="mineName" type="string"/>
        </sequence>
    </complexType>
    <complexType name="MineNamePropertyType">
        <sequence>
            <element ref="mo:MineName"/>
        </sequence>
    </complexType>
    <element name="EarthResourceDimension" type="mo:EarthResourceDimensionType"/>
    <complexType name="EarthResourceDimensionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="area" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="depth" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="length" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="width" type="gsml:CGI_NumericPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="EarthResourceDimensionPropertyType">
        <sequence>
            <element ref="mo:EarthResourceDimension"/>
        </sequence>
    </complexType>
    <element name="EarthResourceMaterial" type="mo:EarthResourceMaterialType">
        <annotation>
            <documentation>Identifies the material found in the earth or produced from earth material that is of economic interest</documentation>
        </annotation>
    </element>
    <complexType name="EarthResourceMaterialType">
        <sequence>
            <element name="earthResourceMaterialRole" type="mo:ERMaterialRoleCodeType">
                <annotation>
                    <documentation>The role the EarthMaterial plays in the EarthResourceDescription (eg host rock, alteration product, primary, secondary)</documentation>
                </annotation>
            </element>
            <element name="material" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>Uses EarthMaterial to describe the EarthResourceMaterial material</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The proportion of the EarthRespourceMaterial in the EarthResourceDescription </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="EarthResourceMaterialPropertyType">
        <sequence>
            <element ref="mo:EarthResourceMaterial"/>
        </sequence>
    </complexType>
    <element name="Product" type="mo:ProductType">
        <annotation>
            <documentation>Identifes the type and amount of products associated with production</documentation>
        </annotation>
    </element>
    <complexType name="ProductType">
        <sequence>
            <element name="productName" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>Commodity that has been processed to create a value-added product. In some cases the commodity and the product may be the same (e.g. gold).</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="sourceReference" type="gml:ReferenceType">
                <annotation>
                    <documentation>The reference(s) for the product information.  CI_Citation data type cannot be serialised in GML 3.1, only as an xlink reference.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="grade" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>he relative quantity or percentage of ore mineral content in an orebody. (Could be Feed Grade, ore grade)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="production" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Quantity of product produced during the activity</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="recovery" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>The percentage of valuable constituent derived from an ore, or of coal from a coal seam; a measure of mining or extraction efficency. (Recovery rate is usually expressed as a percent).</documentation>
                </annotation>
            </element>
            <element name="sourceCommodity" type="mo:CommodityPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="ProductPropertyType">
        <sequence>
            <element ref="mo:Product"/>
        </sequence>
    </complexType>
    <element name="MineralSystem" type="mo:MineralSystemType">
        <annotation>
            <documentation>All geological features that control the generation and preservation of mineral deposits.</documentation>
        </annotation>
    </element>
    <complexType name="MineralSystemType">
        <sequence>
            <element name="associationType" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>High level  term describing the characteristics of a mineral system, indicative of the processes involved and resulting deposits</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="fluidDescription" type="gsml:InorganicFluidPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="MineralSystemPropertyType">
        <sequence>
            <element ref="mo:MineralSystem"/>
        </sequence>
    </complexType>
    <element abstract="true" name="OreMeasure" type="mo:OreMeasureType">
        <annotation>
            <documentation>The estimate of the Reserve, Resource or Endowment ore amount</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="OreMeasureType">
        <sequence>
            <element name="calculationMethod" type="string">
                <annotation>
                    <documentation>Means of calculating the measurement. Examples include JORC, Unspecified, UNESCO/World Bank and the Canadian CIM.</documentation>
                </annotation>
            </element>
            <element name="date" type="gml:TimePrimitivePropertyType">
                <annotation>
                    <documentation>Date of calculated/estimated value (single date or range)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="dimension" type="mo:EarthResourceDimensionPropertyType">
                <annotation>
                    <documentation>Size of the body used in the calculation</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="proposedExtractionMethod" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>The method proposed to extract the commodity</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="sourceReference" type="gml:ReferenceType">
                <annotation>
                    <documentation>reference for the values</documentation>
                </annotation>
            </element>
            <element name="ore" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Amount of ore</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="measureDetails" type="mo:CommodityMeasurePropertyType"/>
        </sequence>
    </complexType>
    <complexType name="OreMeasurePropertyType">
        <sequence>
            <element ref="mo:OreMeasure"/>
        </sequence>
    </complexType>
    <simpleType name="RawMaterialRoleCodeType">
        <union memberTypes="mo:RawMaterialRoleCodeEnumerationType mo:RawMaterialRoleCodeOtherType"/>
    </simpleType>
    <simpleType name="RawMaterialRoleCodeEnumerationType">
        <restriction base="string">
            <enumeration value="gangue">
                <annotation>
                    <documentation>Commercially valueless material remaining after ore-mineral extraction from rock.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ore"/>
        </restriction>
    </simpleType>
    <simpleType name="RawMaterialRoleCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ImportanceCodeType">
        <union memberTypes="mo:ImportanceCodeEnumerationType mo:ImportanceCodeOtherType"/>
    </simpleType>
    <simpleType name="ImportanceCodeEnumerationType">
        <restriction base="string">
            <enumeration value="major"/>
            <enumeration value="minor"/>
        </restriction>
    </simpleType>
    <simpleType name="ImportanceCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ResourceCategoryCodeType">
        <union memberTypes="mo:ResourceCategoryCodeEnumerationType mo:ResourceCategoryCodeOtherType"/>
    </simpleType>
    <simpleType name="ResourceCategoryCodeEnumerationType">
        <restriction base="string">
            <enumeration value="measured, indicated and inferred mineral resource [non-JORC]">
                <annotation>
                    <documentation>This combined mineral resource figure is used where no individual splits are available for mineral resource estimation. This is usually the case for historical data.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured, indicated and inferred mineral resource [JORC]">
                <annotation>
                    <documentation>To provide the combined "Measured, Indicated and Inferred Mineral Resource" figure, individual ?Measured?, ?Indicated? and ?Inferred? Mineral Resource figures must have been specified.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured mineral resource">
                <annotation>
                    <documentation>That part of Mineral Resource for which tonnage, densities, shape, physical characteristics, grade and mineral content can be estimated with a high level of confidence. It is based on detailed and reliable exploration, sampling and testing. The locations are spaced closely enough to confirm geological and grade continuity.
Synonyms: Measured Coal Resource; Measured Diamond (Gemstone) Resource</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured and indicated mineral resource">
                <annotation>
                    <documentation>To provide the combined "Measured and Indicated Mineral Resource" figure, individual ?Measured? and ?Indicated? Mineral Resource figures must have been specified.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="indicated mineral resource">
                <annotation>
                    <documentation>That part of a Mineral Resource for which tonnage, densities, shape, physical characteristics, grade and mineral content can be estimated with a reasonable level of confidence. It is based on exploration, sampling and testing information. The locations are too widely spaced to confirm geological and/or grade continuity but are spaced closely enough for continuity to be assumed.
Synonyms: Indicated Coal Resource; Indicated Diamond (Gemstone) Resource</documentation>
                </annotation>
            </enumeration>
            <enumeration value="inferred mineral resource">
                <annotation>
                    <documentation>That part of a Mineral Resource for which tonnage, grade and mineral content can be estimated with a low level of confidence.  It is inferred from geological evidence and assumed but not verified geological and/or grade continuity.
Synonyms: Inferred Coal Resource; Inferred Diamond (Gemstone) Resource</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ResourceCategoryCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="MineralOccurrenceTypeCodeType">
        <union memberTypes="mo:MineralOccurrenceTypeCodeEnumerationType mo:MineralOccurrenceTypeCodeOtherType"/>
    </simpleType>
    <simpleType name="MineralOccurrenceTypeCodeEnumerationType">
        <restriction base="string">
            <enumeration value="province">
                <annotation>
                    <documentation> A geological province bounded in space and time and characterised by a particular assemblage of mineral occurrences. A mineral province may include the mineralised parts of one or more mineral system.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="prospect">
                <annotation>
                    <documentation>A locality at which recorded mineral exploration, including sampling and testing, has taken place.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ore deposit">
                <annotation>
                    <documentation>A mineral deposit that has been tested and is known to be of sufficient size, grade and accessibility to be produced to yield a profit (an ore deposit, by definition, must have an ore reserve and additional resources).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="occurrence">
                <annotation>
                    <documentation> A locality at which a concentration of mineral(s) of economic interest is known.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mineral deposit">
                <annotation>
                    <documentation>A mineral occurrence of sufficient size and grade that it might, under favourable circumstances, be considered to have economic potential.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="lode">
                <annotation>
                    <documentation>- a mineral deposit consisting of a zone of veins, veinlets, disseminations, or planar breccias; or
- a mineral deposit in consolidated rock (as opposed to placer deposits).
A synonym for a load is a lead.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="district">
                <annotation>
                    <documentation>District scale area of mining/prospecting for a particular commodity or set of commodities.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="field">
                <annotation>
                    <documentation>Local scale area of mining/prospecting for a particular commodity or set of commodities. Equivalent to the North American term "camp". </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MineralOccurrenceTypeCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ERMaterialRoleCodeType">
        <union memberTypes="mo:ERMaterialRoleCodeEnumerationType mo:ERMaterialRoleCodeOtherType"/>
    </simpleType>
    <simpleType name="ERMaterialRoleCodeEnumerationType">
        <restriction base="string">
            <enumeration value="unspecified">
                <annotation>
                    <documentation>Where the role of the EarthResourceMaterial has not been specified</documentation>
                </annotation>
            </enumeration>
            <enumeration value="secondary"/>
            <enumeration value="primary"/>
            <enumeration value="host rock"/>
            <enumeration value="alteration product"/>
            <enumeration value="gangue">
                <annotation>
                    <documentation>Commercially valueless material remaining after ore-mineral extraction from rock.
Included here in order to be able to identify that component of the EarthResource which is not the host rock and is uneconomic.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ERMaterialRoleCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="MiningActivityTypeCodeType">
        <union memberTypes="mo:MiningActivityTypeCodeEnumerationType mo:MiningActivityTypeCodeOtherType"/>
    </simpleType>
    <simpleType name="MiningActivityTypeCodeEnumerationType">
        <restriction base="string">
            <enumeration value="adit">
                <annotation>
                    <documentation>Adits are horizontal excavations into the side of a hill or mountain.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="decline">
                <annotation>
                    <documentation>a spiral ramp which allows access to the deposit.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="unspecified">
                <annotation>
                    <documentation>Information not available. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="underground mining">
                <annotation>
                    <documentation>Operation to commercially extract any mineral from the ground from an underground excavation.  Synonyms: shaft, adit, decline, winze, drive, stope</documentation>
                </annotation>
            </enumeration>
            <enumeration value="solution mining">
                <annotation>
                    <documentation>Extraction of material from a closed underground system by solvents. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="sluicing">
                <annotation>
                    <documentation>Hydraulic washing of unconsolidated or semi-consolidated material.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="shaft">
                <annotation>
                    <documentation>Shafts are vertical excavations sunk adjacent to an ore body.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="reworking">
                <annotation>
                    <documentation>Reworking of material previously extracted.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="open cut mining">
                <annotation>
                    <documentation>Operation to commercially extract any mineral from the ground from an excavation open at surface. Synonyms: pit, quarry</documentation>
                </annotation>
            </enumeration>
            <enumeration value="open cut and underground mining">
                <annotation>
                    <documentation>Operation to commercially extract any mineral from the ground from an excavation open at surface and underground. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="multiple">
                <annotation>
                    <documentation>Combination of activities </documentation>
                </annotation>
            </enumeration>
            <enumeration value="diggings">
                <annotation>
                    <documentation>Local area of small scale mining where individual operations cannot be identified. Generally applicable to historic operations. scratchings, scrapings</documentation>
                </annotation>
            </enumeration>
            <enumeration value="dredging">
                <annotation>
                    <documentation>Removing of unconsolidated matter from the bottom of an area covered by water</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MiningActivityTypeCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="MineStatusCodeType">
        <union memberTypes="mo:MineStatusCodeEnumerationType mo:MineStatusCodeOtherType"/>
    </simpleType>
    <simpleType name="MineStatusCodeEnumerationType">
        <restriction base="string">
            <enumeration value="unspecified">
                <annotation>
                    <documentation>The status of the Mine is unspecified</documentation>
                </annotation>
            </enumeration>
            <enumeration value="unknown">
                <annotation>
                    <documentation>The status of the Mine is unknown</documentation>
                </annotation>
            </enumeration>
            <enumeration value="retention">
                <annotation>
                    <documentation>Defined but not yet operated.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="pending approval">
                <annotation>
                    <documentation>Awaiting due process before commencing operation.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="operating intermittently">
                <annotation>
                    <documentation>Operating part time on a campaign basis. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="operating continuously">
                <annotation>
                    <documentation>Operating on what is regarded as full time status by the jurisdiction concerned. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="not operating">
                <annotation>
                    <documentation>Not currently operating, maintenance status unspecified or unknown.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="feasibility">
                <annotation>
                    <documentation>Undergoing feasibility study as prerequisite to possible operation.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="abandoned">
                <annotation>
                    <documentation>Not currently operating, not maintained.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="care and maintenance">
                <annotation>
                    <documentation>Not currently operating but maintained in such state as to be capable of re-opening.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MineStatusCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ReserveCategoryCodeType">
        <union memberTypes="mo:ReserveCategoryCodeEnumerationType mo:ReserveCategoryCodeOtherType"/>
    </simpleType>
    <simpleType name="ReserveCategoryCodeEnumerationType">
        <restriction base="string">
            <enumeration value="proved ore reserves">
                <annotation>
                    <documentation>The economically mineable part of a Measured Mineral Resource. May include "Proved Marketable Coal Reserves".</documentation>
                </annotation>
            </enumeration>
            <enumeration value="proved and probable ore reserves [non-JORC]">
                <annotation>
                    <documentation>This combined ore reserve figure is used where no individual splits are available for reserve estimation. This is usually the case for historical data.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="probable ore reserves">
                <annotation>
                    <documentation>The economically mineable part of an Indicated, and in some circumstances, a Measured Mineral Resource. May include ?Probable Marketable Coal Reserves?.
Synonyms: Probable Coal Reserve; Probable Diamond (Gemstone) Reserve; Probable Mineral Reserve</documentation>
                </annotation>
            </enumeration>
            <enumeration value="proved and probable ore reserves [JORC]">
                <annotation>
                    <documentation>To provide the combined "Proved and Probable Ore Reserves" figure, individual ?Proved? and ?Probable? Ore Reserve figures must have been specified.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ReserveCategoryCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>