modules/unsupported/app-schema/app-schema/src/test/resources/test-data/commonSchemas/geo/0.1.0/geometry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Marcus Sen (british Geological Survey) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:geo="http://www.seegrid.csiro.au/xml/geometry" targetNamespace="http://www.seegrid.csiro.au/xml/geometry" elementFormDefault="qualified" attributeFormDefault="unqualified" version="pre-release">
	<annotation>
		<documentation>geometry.xsd

A GML conformant schema 
for specialised geometries for geoscience

Copyright (c) 2005 CSIRO - see https://www.seegrid.csiro.au/twiki/bin/view/Xmml/LegalNotices#Software_Notice</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- === Compact form of multi-position.  === -->
	<!-- =========================================================== -->
	<complexType name="MultiPosType">
		<annotation>
			<documentation>A MultiPos is defined by a list of direct positions</documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType">
			<!-- <extension base="gml:AbstractGeometricAggregateType">-->
				<sequence>
					<choice>
						<element name="pos" type="gml:DirectPositionType" maxOccurs="unbounded"/>
						<element name="posList" type="gml:DirectPositionListType"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ====================================================================== -->
	<element name="MultiPos" type="geo:MultiPosType" substitutionGroup="gml:_GeometricAggregate"/>
	<!-- ======================================================= -->
	<!-- ====================================================================== -->
	<!-- === Geometric primitives === -->
	<!-- ====================================================================== -->
	<!-- === Parameterised Lines === -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<complexType name="AbstractLineType" abstract="true">
		<annotation>
			<documentation>An abstraction of a line to support the different levels of complexity. 
      The line can always be viewed as a geometric primitive, i.e. is logically continuous.</documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType"/>
			<!-- <extension base="gml:AbstractCurveType"/> -->
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="AbstractLine" type="geo:AbstractLineType" abstract="true" substitutionGroup="gml:_Curve">
		<annotation>
			<documentation>The "AbstractLine" element is the abstract head of the substituition group for all elements representing (infinite) Lines.</documentation>
		</annotation>
	</element>
	<!-- ============================================================== -->
	<complexType name="LineByVectorType">
		<annotation>
			<documentation>Line carries an id, so can be used as the target of a reference. This is useful so that the survey defines a 1-D CRS used for indexing information along the borehole.</documentation>
		</annotation>
		<complexContent>
			<extension base="geo:AbstractLineType">
				<sequence>
					<element name="origin" type="gml:PointPropertyType">
						<annotation>
							<documentation>Line is expressed as an origin and direction.</documentation>
						</annotation>
					</element>
					<choice>
						<element name="direction" type="gml:VectorType">
							<annotation>
								<documentation>A simple direction relative to the origin.</documentation>
							</annotation>
						</element>
						<element name="directionDescription" type="gml:CodeType"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="LineByVector" type="geo:LineByVectorType" substitutionGroup="geo:AbstractLine"/>
	<element name="Line" type="geo:LineByVectorType" substitutionGroup="geo:AbstractLine"/>
	<!-- ====================================================================== -->
	<!-- === Parameterised Planes === -->
	<!-- ====================================================================== -->
	<complexType name="AbstractPlaneType" abstract="true">
		<annotation>
			<documentation>An abstraction of a plane to support the different levels of complexity. 
      The plane can always be viewed as a geometric primitive, i.e. is logically continuous.</documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType"/>
			<!-- <extension base="gml:AbstractSurfaceType"/>-->
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="AbstractPlane" type="geo:AbstractPlaneType" abstract="true" substitutionGroup="gml:_Surface">
		<annotation>
			<documentation>The "AbstractPlane" element is the abstract head of the substituition group for all elements representing (infinite) planes.</documentation>
		</annotation>
	</element>
	<!-- ============================================================== -->
	<complexType name="PlaneByVectorType">
		<annotation>
			<documentation>Plane defined by its normal and a point contined within the plane.</documentation>
		</annotation>
		<complexContent>
			<extension base="geo:AbstractPlaneType">
				<sequence>
					<element name="containedPoint" type="gml:PointPropertyType"/>
					<element name="normal" type="gml:VectorType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="PlaneByVector" type="geo:PlaneByVectorType" substitutionGroup="geo:AbstractPlane"/>
	<!-- ====================================================================== -->
	<!-- === Some convenience geometry aggregates === -->
	<!-- =========================================================== -->
	<complexType name="LineStringPropertyType">
		<sequence minOccurs="0">
			<element ref="gml:LineString"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="MultiLineStringType">
		<annotation>
			<documentation>A MultiLineString is defined by one or more LineStrings, referenced through lineStringMember elements. </documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType">
			<!-- <extension base="gml:AbstractGeometricAggregateType">-->
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element name="member" type="geo:LineStringPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="MultiLineString" type="geo:MultiLineStringType" substitutionGroup="gml:_GeometricAggregate"/>
	<!-- ...... -->
	<complexType name="MultiLineStringPropertyType">
		<sequence minOccurs="0">
			<element ref="geo:MultiLineString"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<complexType name="PolygonPropertyType">
		<sequence minOccurs="0">
			<element ref="gml:Polygon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="MultiPolygonType">
		<annotation>
			<documentation>A MultiPolygon is defined by one or more Polygons, referenced through polygonMember elements. </documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType">
			<!-- <extension base="gml:AbstractGeometricAggregateType">-->
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element name="member" type="geo:PolygonPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="MultiPolygon" type="geo:MultiPolygonType" substitutionGroup="gml:_GeometricAggregate"/>
	<!-- ...... -->
	<complexType name="MultiPolygonPropertyType">
		<sequence minOccurs="0">
			<element ref="geo:MultiPolygon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<!-- === Convenience content-model group for nodes, recorded either as direct positions or Points === -->
	<!-- =========================================================== -->
	<group name="posProperty">
		<choice>
			<element ref="gml:pos"/>
			<element ref="gml:pointProperty"/>
		</choice>
	</group>
	<!-- ====================================================================== -->
	<!-- === Intervals === -->
	<!-- =========================================================== -->
	<complexType name="GIntervalType">
		<annotation>
			<documentation>GInterval defines a simple curve segment using a pair of positions.</documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType">
			<!-- <extension base="gml:AbstractCurveType">-->
				<sequence>
					<choice>
						<element name="beginPos" type="gml:DirectPositionType"/>
						<element name="begin" type="gml:PointPropertyType"/>
					</choice>
					<choice>
						<element name="endPos" type="gml:DirectPositionType"/>
						<element name="end" type="gml:PointPropertyType"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="GInterval" type="geo:GIntervalType" substitutionGroup="gml:_Curve"/>
	<!-- ...... -->
	<complexType name="GIntervalPropertyType">
		<sequence minOccurs="0">
			<element ref="geo:GInterval"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="MultiGIntervalType">
		<annotation>
			<documentation>A MultiGInterval is defined by one or more GIntervals.</documentation>
		</annotation>
		<complexContent>
            <extension base="gml:AbstractGMLType">
			<!-- <extension base="gml:AbstractGeometricAggregateType">-->
				<sequence>
					<element name="member" type="geo:GIntervalPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...... -->
	<element name="MultiGInterval" type="geo:MultiGIntervalType" substitutionGroup="gml:_GeometricAggregate"/>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<!-- === Support for geometric objects defined using their vertices only, implicit topology === -->
	<!-- =========================================================== -->
	<element name="exterior3Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior4Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior5Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
			<attribute name="v4" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior6Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
			<attribute name="v4" type="anyURI" use="required"/>
			<attribute name="v5" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="exterior8Points">
		<complexType>
			<sequence/>
			<attribute name="v0" type="anyURI" use="required"/>
			<attribute name="v1" type="anyURI" use="required"/>
			<attribute name="v2" type="anyURI" use="required"/>
			<attribute name="v3" type="anyURI" use="required"/>
			<attribute name="v4" type="anyURI" use="required"/>
			<attribute name="v5" type="anyURI" use="required"/>
			<attribute name="v6" type="anyURI" use="required"/>
			<attribute name="v7" type="anyURI" use="required"/>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<!-- === Convenience properties === -->
	<!-- =========================================================== -->
	<element name="nodes" type="gml:MultiPointPropertyType">
		<annotation>
			<documentation>A place to attach a set of nodes that are required to be listed someplace, in order that they can be "used" by-reference elsewhere, for example to build a complex geometry that may be the "shape" of a feature.  Since they are to be used "by-reference" they require handles - hence the use of gml:Point primitives rather than the handle-less gml:pos and gml:posList.</documentation>
		</annotation>
	</element>
	<!-- ====================================================================== -->
</schema>
