modules/extension/app-schema/app-schema/src/test/resources/test-data/commonSchemas_new/earthresourceml/1.1/xsd/mine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns:er="urn:cgi:xmlns:GGIC:EarthResource:1.1" targetNamespace="urn:cgi:xmlns:GGIC:EarthResource:1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/cgiUtilities.xsd"/>
    <import namespace="http://www.cgi-iugs.org/xml/GeoSciML/2" schemaLocation="http://schemas.opengis.net/GeoSciML/geosciml.xsd"/>
    <include schemaLocation="earthResource.xsd"/>
    <element name="MiningActivity" substitutionGroup="er:MiningFeature" type="er:MiningActivityType">
        <annotation>
            <documentation>The process of extracting metallic or non-metallic mineral deposits from the Earth. The term may also include preliminary treatment eg. cleaning or sizing.</documentation>
        </annotation>
    </element>
    <complexType name="MiningActivityType">
        <complexContent>
            <extension base="er:MiningFeatureType">
                <sequence>
                    <element name="activityDuration" type="gml:TimePeriodPropertyType">
                        <annotation>
                            <documentation>Period, or extent in time, of  the mining activity. The beginning of the activity links the TM_Period to the TM_Instant at which it starts.  The ending links the TM_Period to the TM_Instant at which it ends.  For a variety of reasons, the position of the TM_Instant designated by 'begin' or 'end' may be inderterminate.</documentation>
                        </annotation>
                    </element>
                    <element name="activityType" type="er:MiningActivityTypeCodeType">
                        <annotation>
                            <documentation>The type of mining activity (eg Open Cut, Underground Mine, multiple, unspecified) or processing activity (eg Ore Processing) or production.  Using activity to distinguish between the extraction, processing and production activities allows distinguishing between ore mined/grade/recovery, ore treated/grade/recovery and produced payable/plant recovery.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="oreProcessed" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>The amount of ore processed by the activity</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="associatedMine" type="er:MinePropertyType">
                        <annotation>
                            <documentation>The mine that the MiningActivity occurred in</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="rawMaterial" type="er:MinedMaterialPropertyType"/>
                    <element name="deposit" type="er:EarthResourcePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="producedMaterial" type="er:ProductPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiningActivityPropertyType">
        <sequence minOccurs="0">
            <element ref="er:MiningActivity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="MiningFeature" substitutionGroup="gml:_Feature" type="er:MiningFeatureType">
        <annotation>
            <documentation>The abstract MiningFeature class represents a conceptual feature that exists coherently in the world.
   * this corresponds with a "Mine" or a "MiningActivity",  locatable and identifiable features in time and/or space</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="MiningFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="occurrence" type="er:MiningFeatureOccurrencePropertyType">
                        <annotation>
                            <documentation>Point to the single MiningFeature which describes the Mining feature Occurrence</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiningFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="er:MiningFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Mine" substitutionGroup="er:MiningFeature" type="er:MineType">
        <annotation>
            <documentation>(A) An underground excavation for the extraction of mineral deposits, in contrast to surficial excavations such as quarries. The term is also applied to various types of open-pit workings. (B) The area or property of a mineral deposit that is being excavated; a mining claim.</documentation>
        </annotation>
    </element>
    <complexType name="MineType">
        <complexContent>
            <extension base="er:MiningFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="startDate" type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>Date the mine commenced.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="endDate" type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>Date the mine ceased.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="mineName" type="er:MineNamePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceReference" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gmd:CI_Citation</gml:targetElement>
                            </appinfo>
                            <documentation>Allows citing mine plans etc</documentation>
                        </annotation>
                    </element>
                    <element name="status" type="er:MineStatusCodeType">
                        <annotation>
                            <documentation>Operational status (eg Care &amp; Maintenance, Pending Approval, operating continually)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="relatedActivity" type="er:MiningActivityPropertyType">
                        <annotation>
                            <documentation>The MiningActivity associated with the Mine</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedMine" type="er:MinePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MinePropertyType">
        <sequence minOccurs="0">
            <element ref="er:Mine"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Product" substitutionGroup="gml:_Feature" type="er:ProductType">
        <annotation>
            <documentation>Identifes the type and amount of products associated with production</documentation>
        </annotation>
    </element>
    <complexType name="ProductType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="productName" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Commodity that has been processed to create a value-added product. In some cases the commodity and the product may be the same (e.g. gold).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="sourceReference" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gmd:CI_Citation</gml:targetElement>
                            </appinfo>
                            <documentation>The reference(s) for the product information.  CI_Citation data type cannot be serialised in GML 3.1, only as an xlink reference.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="grade" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>he relative quantity or percentage of ore mineral content in an orebody. (Could be Feed Grade, ore grade)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="production" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Quantity of product produced during the activity</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="recovery" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>The percentage of valuable constituent derived from an ore, or of coal from a coal seam; a measure of mining or extraction efficency. (Recovery rate is usually expressed as a percent).</documentation>
                        </annotation>
                    </element>
                    <element name="sourceCommodity" type="er:CommodityPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductPropertyType">
        <sequence minOccurs="0">
            <element ref="er:Product"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MiningFeatureOccurrence" substitutionGroup="gml:_Feature" type="er:MiningFeatureOccurrenceType"/>
    <complexType name="MiningFeatureOccurrenceType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="observationMethod" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Specifies the method that was used to identify the MiningFeatureOccurrence. Examples: digitised,  Global Positioning System, published map, fieldObservation, downhole survey, aerial photography, field survey. This corresponds (loosely) to ISO19115 Lineage.Statement</documentation>
                        </annotation>
                    </element>
                    <element name="positionalAccuracy" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Examples: accurate, approximate, diagramatic, indefinite, unknown, 5 m. Corresponds to ISO19115 DQ_ThematicAccuracy (either quantitative or non quantitative).result.value</documentation>
                        </annotation>
                    </element>
                    <element name="specification" type="er:MiningFeaturePropertyType">
                        <annotation>
                            <documentation>Indicates the MiningFeature that the occurrence specifies
Points to any number of MiningFeatureOccurrences which are occurrences of the Miningfeature.  MiningFeatureOccurrences may all be from a single map or from several maps, or reflect different levels of detail, eg point, area, 3D volume.</documentation>
                        </annotation>
                    </element>
                    <element name="location" type="gml:GeometryPropertyType">
                        <annotation>
                            <documentation>Points to the GML shape object that describes the geometry of the MiningFeatureOccurrence.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiningFeatureOccurrencePropertyType">
        <sequence minOccurs="0">
            <element ref="er:MiningFeatureOccurrence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MinedMaterial" type="er:MinedMaterialType"/>
    <complexType name="MinedMaterialType">
        <sequence>
            <element name="material" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>Uses EarthMaterial to describe the RawMaterial material</documentation>
                </annotation>
            </element>
            <element name="rawMaterialRole" type="er:RawMaterialRoleCodeType">
                <annotation>
                    <documentation>Role the EarthMaterial plays in the MiningActivity (eg gangue, ore)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Proportion of the RawMaterial playing the rawMaterialRole in the MiningActivity</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="MinedMaterialPropertyType">
        <sequence>
            <element ref="er:MinedMaterial"/>
        </sequence>
    </complexType>
    <element name="MineName" type="er:MineNameType">
        <annotation>
            <documentation>Data type to indicate whether the Mine Name is the preferred name</documentation>
        </annotation>
    </element>
    <complexType name="MineNameType">
        <sequence>
            <element name="isPreferred" type="boolean"/>
            <element name="mineName" type="string"/>
        </sequence>
    </complexType>
    <complexType name="MineNamePropertyType">
        <sequence>
            <element ref="er:MineName"/>
        </sequence>
    </complexType>
    <simpleType name="RawMaterialRoleCodeType">
        <union memberTypes="er:RawMaterialRoleCodeEnumerationType er:RawMaterialRoleCodeOtherType"/>
    </simpleType>
    <simpleType name="RawMaterialRoleCodeEnumerationType">
        <restriction base="string">
            <enumeration value="ore"/>
            <enumeration value="gangue">
                <annotation>
                    <documentation>Commercially valueless material remaining after ore-mineral extraction from rock.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="RawMaterialRoleCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="MiningActivityTypeCodeType">
        <union memberTypes="er:MiningActivityTypeCodeEnumerationType er:MiningActivityTypeCodeOtherType"/>
    </simpleType>
    <simpleType name="MiningActivityTypeCodeEnumerationType">
        <restriction base="string">
            <enumeration value="decline">
                <annotation>
                    <documentation>a spiral ramp which allows access to the deposit.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="underground mining">
                <annotation>
                    <documentation>Operation to commercially extract any mineral from the ground from an underground excavation.  Synonyms: shaft, adit, decline, winze, drive, stope</documentation>
                </annotation>
            </enumeration>
            <enumeration value="diggings">
                <annotation>
                    <documentation>Local area of small scale mining where individual operations cannot be identified. Generally applicable to historic operations. scratchings, scrapings</documentation>
                </annotation>
            </enumeration>
            <enumeration value="dredging">
                <annotation>
                    <documentation>Removing of unconsolidated matter from the bottom of an area covered by water</documentation>
                </annotation>
            </enumeration>
            <enumeration value="multiple">
                <annotation>
                    <documentation>Combination of activities</documentation>
                </annotation>
            </enumeration>
            <enumeration value="open cut and underground mining">
                <annotation>
                    <documentation>Operation to commercially extract any mineral from the ground from an excavation open at surface and underground.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="open cut mining">
                <annotation>
                    <documentation>Operation to commercially extract any mineral from the ground from an excavation open at surface. Synonyms: pit, quarry</documentation>
                </annotation>
            </enumeration>
            <enumeration value="reworking">
                <annotation>
                    <documentation>Reworking of material previously extracted.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="shaft">
                <annotation>
                    <documentation>Shafts are vertical excavations sunk adjacent to an ore body.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="sluicing">
                <annotation>
                    <documentation>Hydraulic washing of unconsolidated or semi-consolidated material.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="solution mining">
                <annotation>
                    <documentation>Extraction of material from a closed underground system by solvents.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="unspecified">
                <annotation>
                    <documentation>Information not available.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="adit">
                <annotation>
                    <documentation>Adits are horizontal excavations into the side of a hill or mountain.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MiningActivityTypeCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="MineStatusCodeType">
        <union memberTypes="er:MineStatusCodeEnumerationType er:MineStatusCodeOtherType"/>
    </simpleType>
    <simpleType name="MineStatusCodeEnumerationType">
        <restriction base="string">
            <enumeration value="care and maintenance">
                <annotation>
                    <documentation>Not currently operating but maintained in such state as to be capable of re-opening.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="abandoned">
                <annotation>
                    <documentation>Not currently operating, not maintained.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="feasibility">
                <annotation>
                    <documentation>Undergoing feasibility study as prerequisite to possible operation.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="not operating">
                <annotation>
                    <documentation>Not currently operating, maintenance status unspecified or unknown.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="operating continuously">
                <annotation>
                    <documentation>Operating on what is regarded as full time status by the jurisdiction concerned.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="operating intermittently">
                <annotation>
                    <documentation>Operating part time on a campaign basis.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="pending approval">
                <annotation>
                    <documentation>Awaiting due process before commencing operation.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="retention">
                <annotation>
                    <documentation>Defined but not yet operated.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="unknown">
                <annotation>
                    <documentation>The status of the Mine is unknown</documentation>
                </annotation>
            </enumeration>
            <enumeration value="unspecified">
                <annotation>
                    <documentation>The status of the Mine is unspecified</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MineStatusCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>