modules/unsupported/app-schema/app-schema/src/test/resources/test-data/commonSchemas_new/earthresourceml/1.1/xsd/mineralOccurrence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="http://www.cgi-iugs.org/xml/GeoSciML/2" xmlns:er="urn:cgi:xmlns:GGIC:EarthResource:1.1" targetNamespace="urn:cgi:xmlns:GGIC:EarthResource:1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/cgiUtilities.xsd"/>
    <import namespace="http://www.cgi-iugs.org/xml/GeoSciML/2" schemaLocation="../../../GeoSciML/geosciml.xsd"/>
    <include schemaLocation="earthResource.xsd"/>
    <element abstract="true" name="EarthResource" substitutionGroup="gsml:GeologicFeature" type="er:EarthResourceType">
        <annotation>
            <documentation>Identifes the kinds of observable or inferred phenomena required to classify economic and sub-economic earth resources</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="EarthResourceType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceReference" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gmd:CI_Citation</gml:targetElement>
                            </appinfo>
                            <documentation>The source or reference for the Earth Resource. CI_Citation can not be serialised in-line for GML3.1 but as an xlink reference.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="dimension" type="er:EarthResourceDimensionPropertyType">
                        <annotation>
                            <documentation>Describes the size/volume of the earth resource</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="expression" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Whether an EarthResource has a surface expression or has been detected under cover rocks.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="form" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The orebodies typical physical and structural relationship to wallrocks and associated rocks (e.g. strataform, stratabound, cross-cutting, vein, intrusive contact etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="linearOrientation" type="gsml:CGI_LinearOrientationPropertyType">
                        <annotation>
                            <documentation>Captures linear orientation of the Earth Resource (Plunge etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="planarOrientation" type="gsml:CGI_PlanarOrientationPropertyType">
                        <annotation>
                            <documentation>Captures planar orientation of the Earth Resource (Dip/Dip Direction etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="shape" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The typical geometrical shape of the Earth Resource (e.g. lenticular, pipelike, irregular etc)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="classification" type="er:MineralDepositModelPropertyType">
                        <annotation>
                            <documentation>Classifies the EarthResource
Systematically arranged information describing the essential attributes of a class of mineral deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="commodityDescription" type="er:CommodityPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="composition" type="er:EarthResourceMaterialPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="geneticDescription" type="er:MineralSystemPropertyType">
                        <annotation>
                            <documentation>Provides a description for how the EarthResource formed</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="resourceExtraction" type="er:MiningActivityPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="supergeneModification" type="er:SupergeneProcessesPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="child" type="er:EarthResourcePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="oreAmount" type="er:OreMeasurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EarthResourcePropertyType">
        <sequence minOccurs="0">
            <element ref="er:EarthResource"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Commodity" substitutionGroup="gml:_Feature" type="er:CommodityType">
        <annotation>
            <documentation>The material of economic interest in the EarthResource</documentation>
        </annotation>
    </element>
    <complexType name="CommodityType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="commodityGroup" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>The group the commodity belongs to (eg base metal, precious metal, industrial mineral, energy).</documentation>
                        </annotation>
                    </element>
                    <element name="commodityName" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>The earth resource commodity (eg Cu, Au, Dimension Stone)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="commodityImportance" type="er:ImportanceCodeType">
                        <annotation>
                            <documentation>The importance of the commodity to the earth resource. A subjective classification (eg minor, major)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="commodityRank" type="integer">
                        <annotation>
                            <documentation>The rank the commodity has in the order of commodities that are part of the earth reource (eg 1, 2, 3)</documentation>
                        </annotation>
                    </element>
                    <element name="source" type="er:EarthResourcePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CommodityPropertyType">
        <sequence minOccurs="0">
            <element ref="er:Commodity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MineralOccurrence" substitutionGroup="er:EarthResource" type="er:MineralOccurrenceType"/>
    <complexType name="MineralOccurrenceType">
        <complexContent>
            <extension base="er:EarthResourceType">
                <sequence>
                    <element name="type" type="er:MineralOccurrenceTypeCodeType">
                        <annotation>
                            <documentation>Captures the type of mineral occurrence. Examples are prospect, occurrence, mineral deposit, ore deposit, field, district, lode, mineralized zone(?).</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MineralOccurrencePropertyType">
        <sequence minOccurs="0">
            <element ref="er:MineralOccurrence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="NonMetallicOccurrence" substitutionGroup="er:EarthResource" type="er:NonMetallicOccurrenceType"/>
    <complexType name="NonMetallicOccurrenceType">
        <complexContent>
            <extension base="er:EarthResourceType"/>
        </complexContent>
    </complexType>
    <complexType name="NonMetallicOccurrencePropertyType">
        <sequence minOccurs="0">
            <element ref="er:NonMetallicOccurrence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MineralDepositModel" type="er:MineralDepositModelType">
        <annotation>
            <documentation>Systematically arranged information describing the essential attributes of a class of mineral deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
        </annotation>
    </element>
    <complexType name="MineralDepositModelType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="1" name="mineralDepositGroup" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>A grouping of mineral deposits defined by generic characteristics e.g. host rock, host structure, commodity, association with similar mineral processes e.g. porphyry. Regional, national and more universal lists e.g. Cox and Singer 1986 (modified by GA)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="mineralDepositType" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>Style of mineral occurrence or deposit. Generally a local or regional term. Should be referenced for definitions and descriptions. Single deposit terms may form member of a Mineral Deposit Group in local and regional schemas.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="MineralDepositModelPropertyType">
        <sequence>
            <element ref="er:MineralDepositModel"/>
        </sequence>
    </complexType>
    <element name="CommodityMeasure" type="er:CommodityMeasureType">
        <annotation>
            <documentation>A measure of the amount of the commodity based on a Reserve, Resource or Endowment calculation.</documentation>
        </annotation>
    </element>
    <complexType name="CommodityMeasureType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="commodityAmount" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Amount of commodity</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="cutOffGrade" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Cut off grade used for calculation</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="grade" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>grade of commodity
Where OreMeasure is Resource or Reserve CommodityMeasure::grade is mandatory</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="commodityOfInterest" type="er:CommodityPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="CommodityMeasurePropertyType">
        <sequence>
            <element ref="er:CommodityMeasure"/>
        </sequence>
    </complexType>
    <element name="Endowment" substitutionGroup="er:OreMeasure" type="er:EndowmentType">
        <annotation>
            <documentation>Endowment refers to that quantity of a mineral in accumulations (deposits) meeting specified physical characteristics such as quality, size and depth.
Usually includes Resources, as unlike the latter, it does not have to have prospects for "eventual economic extraction". It often includes the total amount of a commodity originally introduced to a particular location during the deposit forming processes - and thus can include resources, reserves, past production and mining and metallurgical losses.</documentation>
        </annotation>
    </element>
    <complexType name="EndowmentType">
        <complexContent>
            <extension base="er:OreMeasureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="includesReserves" type="boolean">
                        <annotation>
                            <documentation>Does the estimate include the reserves value (Y/N)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="includesResources" type="boolean">
                        <annotation>
                            <documentation>Does the estimate include the resources value (Y/N)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EndowmentPropertyType">
        <sequence>
            <element ref="er:Endowment"/>
        </sequence>
    </complexType>
    <element name="SupergeneProcesses" type="er:SupergeneProcessesType">
        <annotation>
            <documentation>Metal enrichment produced by the chemical remobilisation of metals in an oxidised or transitional environment. Does a supergene process exist (Y/N)</documentation>
        </annotation>
    </element>
    <complexType name="SupergeneProcessesType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="depth" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="material" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>The description of the material (rock, soil) that constitutes the supergene process</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="type" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>Type of supergene process. Examples are oxidation, leaching, enrichment etc</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SupergeneProcessesPropertyType">
        <sequence>
            <element ref="er:SupergeneProcesses"/>
        </sequence>
    </complexType>
    <element name="Reserve" substitutionGroup="er:OreMeasure" type="er:ReserveType">
        <annotation>
            <documentation>The economically mineable part of a Measured and/or Indicated Mineral Resource. It includes diluting materials and allowances for losses, which may occur when the material is mined. Marketable Coal Reserves maybe reported in conjunction with, but not instead of, reports of Ore (Coal) Reserves. Saleable product (e.g. for industrial minerals) can be reported in conjunction with ore reserve.
Synonyms: Ore Reserve; Coal Reserve (s); Diamond (or gemstone) Ore Reserve; Mineral Reserves (not preferred, should be stated that used to mean the same as JORCs Ore Reserve); Mineable production estimates</documentation>
        </annotation>
    </element>
    <complexType name="ReserveType">
        <complexContent>
            <extension base="er:OreMeasureType">
                <sequence>
                    <element name="category" type="er:ReserveCategoryCodeType">
                        <annotation>
                            <documentation>Defines the level of confidence of the estimate</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ReservePropertyType">
        <sequence>
            <element ref="er:Reserve"/>
        </sequence>
    </complexType>
    <element name="Resource" substitutionGroup="er:OreMeasure" type="er:ResourceType">
        <annotation>
            <documentation>A concentration or occurrence of material of intrinsic economic interest in or on the Earths crust in such form, quality and quantity that there are reasonable prospects for eventual economic extraction.
Synonyms: Mineral Resource; Coal Resource (s); Diamond (Gemstone) Resource; Potentially Mineable Mineralisation</documentation>
        </annotation>
    </element>
    <complexType name="ResourceType">
        <complexContent>
            <extension base="er:OreMeasureType">
                <sequence>
                    <element name="category" type="er:ResourceCategoryCodeType">
                        <annotation>
                            <documentation>Measured, indicated, proved, probable, inferred.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="includesReserves" type="boolean">
                        <annotation>
                            <documentation>Whether estimate of resources uses reserve values (Y/N)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ResourcePropertyType">
        <sequence>
            <element ref="er:Resource"/>
        </sequence>
    </complexType>
    <element name="EarthResourceDimension" type="er:EarthResourceDimensionType"/>
    <complexType name="EarthResourceDimensionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="area" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="depth" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="length" type="gsml:CGI_NumericPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="width" type="gsml:CGI_NumericPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="EarthResourceDimensionPropertyType">
        <sequence>
            <element ref="er:EarthResourceDimension"/>
        </sequence>
    </complexType>
    <element name="EarthResourceMaterial" type="er:EarthResourceMaterialType">
        <annotation>
            <documentation>Identifies the material found in the earth or produced from earth material that is of economic interest</documentation>
        </annotation>
    </element>
    <complexType name="EarthResourceMaterialType">
        <sequence>
            <element name="earthResourceMaterialRole" type="er:ERMaterialRoleCodeType">
                <annotation>
                    <documentation>The role the EarthMaterial plays in the EarthResourceDescription (eg host rock, alteration product, primary, secondary)</documentation>
                </annotation>
            </element>
            <element name="material" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>Uses EarthMaterial to describe the EarthResourceMaterial material</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The proportion of the EarthRespourceMaterial in the EarthResourceDescription</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="EarthResourceMaterialPropertyType">
        <sequence>
            <element ref="er:EarthResourceMaterial"/>
        </sequence>
    </complexType>
    <element name="MineralSystem" type="er:MineralSystemType">
        <annotation>
            <documentation>All geological features that control the generation and preservation of mineral deposits.</documentation>
        </annotation>
    </element>
    <complexType name="MineralSystemType">
        <sequence>
            <element name="associationType" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>High level  term describing the characteristics of a mineral system, indicative of the processes involved and resulting deposits</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="fluidDescription" type="gsml:InorganicFluidPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="MineralSystemPropertyType">
        <sequence>
            <element ref="er:MineralSystem"/>
        </sequence>
    </complexType>
    <element abstract="true" name="OreMeasure" type="er:OreMeasureType">
        <annotation>
            <documentation>The estimate of the Reserve, Resource or Endowment ore amount</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="OreMeasureType">
        <sequence>
            <element name="calculationMethod" type="string">
                <annotation>
                    <documentation>Means of calculating the measurement. Examples include JORC, Unspecified, UNESCO/World Bank and the Canadian CIM.</documentation>
                </annotation>
            </element>
            <element name="date" type="gml:TimePrimitivePropertyType">
                <annotation>
                    <documentation>Date of calculated/estimated value (single date or range)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="dimension" type="er:EarthResourceDimensionPropertyType">
                <annotation>
                    <documentation>Size of the body used in the calculation</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="proposedExtractionMethod" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>The method proposed to extract the commodity</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="sourceReference" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>CI_Citation</gml:targetElement>
                    </appinfo>
                    <documentation>reference for the values</documentation>
                </annotation>
            </element>
            <element name="ore" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Amount of ore</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="measureDetails" type="er:CommodityMeasurePropertyType"/>
        </sequence>
    </complexType>
    <complexType name="OreMeasurePropertyType">
        <sequence>
            <element ref="er:OreMeasure"/>
        </sequence>
    </complexType>
    <simpleType name="ImportanceCodeType">
        <union memberTypes="er:ImportanceCodeEnumerationType er:ImportanceCodeOtherType"/>
    </simpleType>
    <simpleType name="ImportanceCodeEnumerationType">
        <restriction base="string">
            <enumeration value="minor"/>
            <enumeration value="major"/>
        </restriction>
    </simpleType>
    <simpleType name="ImportanceCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ResourceCategoryCodeType">
        <union memberTypes="er:ResourceCategoryCodeEnumerationType er:ResourceCategoryCodeOtherType"/>
    </simpleType>
    <simpleType name="ResourceCategoryCodeEnumerationType">
        <restriction base="string">
            <enumeration value="inferred mineral resource">
                <annotation>
                    <documentation>That part of a Mineral Resource for which tonnage, grade and mineral content can be estimated with a low level of confidence.  It is inferred from geological evidence and assumed but not verified geological and/or grade continuity.
Synonyms: Inferred Coal Resource; Inferred Diamond (Gemstone) Resource</documentation>
                </annotation>
            </enumeration>
            <enumeration value="indicated mineral resource">
                <annotation>
                    <documentation>That part of a Mineral Resource for which tonnage, densities, shape, physical characteristics, grade and mineral content can be estimated with a reasonable level of confidence. It is based on exploration, sampling and testing information. The locations are too widely spaced to confirm geological and/or grade continuity but are spaced closely enough for continuity to be assumed.
Synonyms: Indicated Coal Resource; Indicated Diamond (Gemstone) Resource</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured and indicated mineral resource">
                <annotation>
                    <documentation>To provide the combined "Measured and Indicated Mineral Resource" figure, individual Measured and Indicated Mineral Resource figures must have been specified.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured mineral resource">
                <annotation>
                    <documentation>That part of Mineral Resource for which tonnage, densities, shape, physical characteristics, grade and mineral content can be estimated with a high level of confidence. It is based on detailed and reliable exploration, sampling and testing. The locations are spaced closely enough to confirm geological and grade continuity.
Synonyms: Measured Coal Resource; Measured Diamond (Gemstone) Resource</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured, indicated and inferred mineral resource [JORC]">
                <annotation>
                    <documentation>To provide the combined "Measured, Indicated and Inferred Mineral Resource" figure, individual Measured, Indicated and Inferred Mineral Resource figures must have been specified.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured, indicated and inferred mineral resource [non-JORC]">
                <annotation>
                    <documentation>This combined mineral resource figure is used where no individual splits are available for mineral resource estimation. This is usually the case for historical data.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ResourceCategoryCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="MineralOccurrenceTypeCodeType">
        <union memberTypes="er:MineralOccurrenceTypeCodeEnumerationType er:MineralOccurrenceTypeCodeOtherType"/>
    </simpleType>
    <simpleType name="MineralOccurrenceTypeCodeEnumerationType">
        <restriction base="string">
            <enumeration value="field">
                <annotation>
                    <documentation>Local scale area of mining/prospecting for a particular commodity or set of commodities. Equivalent to the North American term "camp".</documentation>
                </annotation>
            </enumeration>
            <enumeration value="district">
                <annotation>
                    <documentation>District scale area of mining/prospecting for a particular commodity or set of commodities.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="lode">
                <annotation>
                    <documentation>- a mineral deposit consisting of a zone of veins, veinlets, disseminations, or planar breccias; or
- a mineral deposit in consolidated rock (as opposed to placer deposits).
A synonym for a load is a lead.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mineral deposit">
                <annotation>
                    <documentation>A mineral occurrence of sufficient size and grade that it might, under favourable circumstances, be considered to have economic potential.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="occurrence">
                <annotation>
                    <documentation>A locality at which a concentration of mineral(s) of economic interest is known.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ore deposit">
                <annotation>
                    <documentation>A mineral deposit that has been tested and is known to be of sufficient size, grade and accessibility to be produced to yield a profit (an ore deposit, by definition, must have an ore reserve and additional resources).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="prospect">
                <annotation>
                    <documentation>A locality at which recorded mineral exploration, including sampling and testing, has taken place.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="province">
                <annotation>
                    <documentation>A geological province bounded in space and time and characterised by a particular assemblage of mineral occurrences. A mineral province may include the mineralised parts of one or more mineral system.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="MineralOccurrenceTypeCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ERMaterialRoleCodeType">
        <union memberTypes="er:ERMaterialRoleCodeEnumerationType er:ERMaterialRoleCodeOtherType"/>
    </simpleType>
    <simpleType name="ERMaterialRoleCodeEnumerationType">
        <restriction base="string">
            <enumeration value="gangue">
                <annotation>
                    <documentation>Commercially valueless material remaining after ore-mineral extraction from rock.
Included here in order to be able to identify that component of the EarthResource which is not the host rock and is uneconomic.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="alteration product"/>
            <enumeration value="host rock"/>
            <enumeration value="primary"/>
            <enumeration value="secondary"/>
            <enumeration value="unspecified">
                <annotation>
                    <documentation>Where the role of the EarthResourceMaterial has not been specified</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ERMaterialRoleCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="ReserveCategoryCodeType">
        <union memberTypes="er:ReserveCategoryCodeEnumerationType er:ReserveCategoryCodeOtherType"/>
    </simpleType>
    <simpleType name="ReserveCategoryCodeEnumerationType">
        <restriction base="string">
            <enumeration value="proved and probable ore reserves [JORC]">
                <annotation>
                    <documentation>To provide the combined "Proved and Probable Ore Reserves" figure, individual Proved and Probable Ore Reserve figures must have been specified.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="probable ore reserves">
                <annotation>
                    <documentation>The economically mineable part of an Indicated, and in some circumstances, a Measured Mineral Resource. May include Probable Marketable Coal Reserves??.
Synonyms: Probable Coal Reserve; Probable Diamond (Gemstone) Reserve; Probable Mineral Reserve</documentation>
                </annotation>
            </enumeration>
            <enumeration value="proved and probable ore reserves [non-JORC]">
                <annotation>
                    <documentation>This combined ore reserve figure is used where no individual splits are available for reserve estimation. This is usually the case for historical data.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="proved ore reserves">
                <annotation>
                    <documentation>The economically mineable part of a Measured Mineral Resource. May include "Proved Marketable Coal Reserves".</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ReserveCategoryCodeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>