modules/unsupported/app-schema/app-schema/src/test/resources/test-data/commonSchemas/sampling/1.0.30/extensiveSampling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns:geox="http://www.opengis.net/geomExt" 
			xmlns:cv="http://www.opengis.net/cv/0.0" 
        xmlns:swe="http://www.opengis.net/swe/0.0" xmlns:om="http://www.opengis.net/om"
        xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sa="http://www.opengis.net/sampling/0.0"
        targetNamespace="http://www.opengis.net/sampling/0.0" elementFormDefault="qualified"
        attributeFormDefault="unqualified" version="0.0.0">
	<annotation>
		<documentation>extensiveSite.xsd

SamplingFeatures are feature types that are used primarily for making observations: 
SamplingFeature,  and collections are described in samplingBase.xsd

SamplingPoint (0-D)
SamplingCurve (1-D)
SamplingSurface (2-D)
SamplingSolid (3-D) are described in this schema document

In many cases the properties of interest vary within the site, so may be represented as a coverage associated with the SamplingFeature. 

Copyright (c) 2007 Open Geospatial Consortium - see http://www.opengeospatial.org/about/?page=ipr</documentation>
	</annotation>
	<!-- ====================================================================== -->
	<!-- bring in other schemas -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/cv/0.0" schemaLocation="../../cv/0.0.0/cv.xsd"/>
	<include schemaLocation="./samplingBase.xsd"/>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- 0-D sites and sampling regimes -->
	<!-- ====================================================================== -->
	<complexType name="SamplingPointType">
		<annotation>
			<documentation>A "SamplingPoint" is an identified position (0-D geospatial feature). 
		It may be revisited for various purposes, in particular to retrieve multiple specimens or make repeated or complementary observations. 
		The position property of the SamplingPoint provides the value of the position property of observations an specimens associated with the SamplingPoint. 
		By using the SamplingPoint feature, this position information and any metadata associated with it may be encoded in one place, i.e. normalised, and then re-used _by reference_ on other feature instances associated with it.
		SamplingPoints are often known as Stations</documentation>
		</annotation>
		<complexContent>
			<extension base="sa:SamplingFeatureType">
				<sequence>
					<element name="position" type="gml:PointPropertyType"/>
					<element name="elevation" type="gml:DirectPositionType" minOccurs="0">
						<annotation>
							<documentation>Use the srsName attribute to record the elevation datum</documentation>
						</annotation>
					</element>
					<element name="timeVaryingProperty" type="sa:CV_Coverage_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<element name="SamplingPoint" type="sa:SamplingPointType" substitutionGroup="sa:SamplingFeature"/>
	<!-- .................. -->
	<complexType name="SamplingPointPropertyType">
		<sequence minOccurs="0">
			<element ref="sa:SamplingPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- 1-D sites and sampling regimes -->
	<!-- ====================================================================== -->
	<complexType name="SamplingCurveType">
		<annotation>
			<documentation>A "SamplingCurve" is an identified 1-D spatial feature. 
		It may be revisited for various purposes, in particular to retrieve multiple specimens or make repeated or complementary observations.
		Specialized names for SamplingCurve include Sounding, ObservationWell, FlightLine, Transect.</documentation>
		</annotation>
		<complexContent>
			<extension base="sa:SamplingFeatureType">
				<sequence>
					<element name="shape" type="gml:CurvePropertyType"/>
					<element name="begin" type="gml:PointPropertyType"><annotation><documentation>Often used for discovery and simple portrayal</documentation></annotation></element>
					<element name="end" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="length" type="gml:MeasureType" minOccurs="0"/>
					<element name="spatiallyVaryingProperty" type="sa:CV_Coverage_PropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>In addition to the constant "property" inherited from the base type, SamplingCurves may also have properties that vary along their length. 
					These are encoded as discrete coverages.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<element name="SamplingCurve" type="sa:SamplingCurveType" substitutionGroup="sa:SamplingFeature">
		<annotation>
			<documentation>A "SamplingCurve" is an identified 1-D spatial feature. 
		It may be revisited for various purposes, in particular to retrieve multiple specimens or make repeated or complementary observations.
		Specialized names for SamplingCurve include Sounding, ObservationWell, FlightLine, Transect.</documentation>
		</annotation>
	</element>
	<!-- .................. -->
	<complexType name="SamplingCurvePropertyType">
		<sequence minOccurs="0">
			<element ref="sa:SamplingCurve"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- 2-D sites and sampling regimes -->
	<!-- ====================================================================== -->
	<complexType name="SamplingSurfaceType">
		<annotation>
			<documentation>A "SamplingSurface" is an identified 2-D spatial feature. 
		It may be used for various purposes, in particular for observations of cross sections through features.
		Specialized names for SamplingSurface include CrossSection, Section, Flitch, Swath, Scene, MapHorizon.</documentation>
		</annotation>
		<complexContent>
			<extension base="sa:SamplingFeatureType">
				<sequence>
					<element name="shape" type="gml:SurfacePropertyType"/>
					<element name="area" type="gml:MeasureType" minOccurs="0"/>
					<element name="spatiallyVaryingProperty" type="sa:CV_Coverage_PropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>In addition to the constant "property" inherited from the base type, Surfaces may also have properties that vary across their extent. 
					These are encoded as discrete coverages.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<element name="SamplingSurface" type="sa:SamplingSurfaceType" substitutionGroup="sa:SamplingFeature">
		<annotation>
			<documentation>A "SamplingSurface" is an identified 2-D spatial feature. 
		It may be used for various purposes, in particular for observations of cross sections through features.
		Specialized names for SamplingSurface include CrossSection, Section, Flitch, Swath, Scene, MapHorizon.</documentation>
		</annotation>
	</element>
	<!-- .................. -->
	<complexType name="SamplingSurfacePropertyType">
		<sequence minOccurs="0">
			<element ref="sa:SamplingSurface"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
	<!-- 3-D sites and sampling regimes -->
	<!-- ====================================================================== -->
	<complexType name="SamplingSolidType">
		<annotation>
			<documentation>A "SamplingSolid" is an identified 3-D spatial feature used in sampling.</documentation>
		</annotation>
		<complexContent>
			<extension base="sa:SamplingFeatureType">
				<sequence>
					<element name="shape" type="gml:SolidPropertyType"/>
					<element name="volume" type="gml:MeasureType" minOccurs="0"/>
					<element name="spatiallyVaryingProperty" type="sa:CV_Coverage_PropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>In addition to the constant "property" inherited from the base type, Solids may also have properties that vary within their extent. 
					These are encoded as discrete coverages.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- .................. -->
	<element name="SamplingSolid" type="sa:SamplingSolidType" substitutionGroup="sa:SamplingFeature">
		<annotation>
			<documentation>A "SamplingSolid" is an identified 3-D spatial feature used in sampling.</documentation>
		</annotation>
	</element>
	<!-- .................. -->
	<complexType name="SamplingSolidPropertyType">
		<sequence minOccurs="0">
			<element ref="sa:SamplingSolid"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ====================================================================== -->
		<!-- ====================================================================== -->
	<complexType name="CV_Coverage_PropertyType">
		<annotation>
			<documentation>Convenience property type to support selection of either a procedure system or procedure event.</documentation>
		</annotation>
		<sequence minOccurs="0">
			<choice>
				<element ref="cv:CV_AbstractDiscreteCoverage"/>
				<!--
				<element ref="gml:AbstractCoverage"/>
				-->
			</choice>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics">
			<simpleType>
				<restriction base="string">
					<enumeration value="interleavedCoverage"/>
					<enumeration value="domainRangeCoverage"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
</schema>